body {
  background-color: #00baba;
  font-family: Lato, Helvetica, sans-serif;
  color: #ffffff;
  height: 100vh;
  display: grid;
  place-items: center;
  font-weight: 400;
}

#banner {
  text-align: center;
}

.title {
  font-size: 64px;
  margin: 0;
  font-weight: 700;
  text-shadow: 4px 4px #1cafa5;
}

.title b {
  font-weight: 900;
}

.subtitle {
  font-weight: 300;
  font-size: 32px;
  margin: 8px 0 24px;
  text-shadow: 2px 2px #1cafa5;
}

.subtitle b {
  font-weight: 400;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 24px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.btn.primary {
  border: none;
  background-color: #1c8c7e;
}

.btn:hover {
  box-shadow: 4px 4px #1cafa5;
}
